@charset "ISO-8859-1";

body {
	background-image: url("background-3.jpg");
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: center;
}


#mg-1 {
	border-radius: 50%;
	position: fixed;
}
center {
	margin-left: -30%;
}

input {
	color: blue; 
	background-color: #ffffcc; 
	border: 1px solid #ff8080; 
	padding: 8px; 
	border-radius: 4px; 
}

input:focus {
	background-color: #bedce7;
}

label {
	color: #b7ca09;
}

.div-1 {
	background-color: rgba(255, 255, 255, 0.2);
	width: 350px;
	height: auto;
	padding: 25px;
	border: 2px solid #937a48;
	border-radius: 5px;
}

h2 {
	color: #ff8040;
	font-style: italic;
	margin-left: 20%;
}

h4 {
	color: #f3e214;
	margin-left: 30%;
	margin-top: -2%;
	font-style: italic;
}