@charset "ISO-8859-1";

 body {
              font-family: Arial, sans-serif;
 
       background-color: #5a5a5a;
        color: #333;
        margin: 0;
        padding: 0;
    }
    
    #mg-1 {
	border-radius: 50%;
}



#div-1{
	display: flex;
}
h2{
	color: #8ebb33;
		font-style: italic;
		font-size:xx-large;
		margin-left: 3%;
}

h4{
	color: #e1ba1e;
margin-bottom:-150%;
	font-style: italic;
}
    p {
   
    
        font-size: 24px;
        font-weight: bold;
        color: #d8d8d8;
    }

#div-2{
	 background-color: #ffcc00; 
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
	
}


   #div-3{
   background-color: white;
   }
   #lg-1{
   margin-left: 80%;
   
   }

   .premium{
   padding: 10px;
        border-radius: 5px;
   
   }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
                border-bottom: 1px solid #ff8000;
        
    }

    th {
 background-color: #80ff00;
         color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2; 
    }

    audio {
        width: 100%;
    }

    input[type="submit"] {
        background-color: #007bff; 
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
    }

    input[type="submit"]:hover {
        background-color: #0056b3; 
    }
    #play{
    
    width: 30%;
    }
 
 
 
 
 
 
 

 
 