@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
background-image: url("reset background.jpg" );    
 background-size: cover;
	background-position: center;
    
}

.card {
    width:40%;
    padding: 20px;
    border-radius: 5px;
    height: auto;
    	background-color: rgba(255, 255, 255, 0.5);
    
    background-size: cover;
	background-position: center;
}


  
 
 label {
    font-weight: bold;
	color: blue;
}

 input {
    border: 1px solid #008080;
    border-radius: 5px;
    font-size: 16px;
    height: 30px;
}

 button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width:50%;
    height:50px;
    border-radius: 10px;
    font-size: 16px;
}

 button:hover {
    background-color: #0056b3;
}

 .alert-danger {
    color: #ff0000;
    font-weight:bold;
    width:auto;
    
    height:30px;
    background-color: #facfd9;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
#mg-1{
	border-radius: 50%;
	margin-bottom: -90px;
	position: fixed;
}
#mg-2{
	margin-right: -55%;
	margin-top: -20%;
	margin-bottom: -10%;
       
}
#mg-3{
	margin-left: -60%;
	margin-top: -20%;
		margin-bottom: -10%;
		
       
        transform: scaleX(-1); 
		
	
}
h2{
	color: #000080;
}
h3{
	color: #00f000;
	margin-left: 37%;
	margin-top: -1%;
	font-style: italic;
}
 