<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Page</title>
 <link rel="stylesheet" type="text/css" href="adminhome.css">

</head>
<body>
    <img id="mg-1" src="Tunehub logo-3.png" alt="Image Description"   width="90px" height="90px">

<center>

<h2>LIFE IS A SONG; LOVE IS THE MUSIC</h2>
<h4>FEEL THE MAGIC IN THE MUSIC.</h4>
<div class="div-1">

 <img id="mg-2" src="music symbol-4.png" alt="Image Description"   width="90px" height="150px">
				    <img id="mg-3" src="music symbol-4.png" alt="Image Description"   width="90px" height="150px">
		

<h1>ADMIN HOME</h1>
<form action="addsong" >
<input type="submit" value="ADD SONG">

</form><br>
<form action="viewsongs" >
<input type="submit" value="VIEW SONG">

</form><br>
<form action="createplaylists" >
<input type="submit" value="CREATE PLAYLIST">

</form><br>
<form action="viewplaylists" >
<input type="submit" value="VIEW PLAYLIST">

</form><br>

<form action="logout" >
<input type="submit" value="LOGOUT">

</form>
</center>
</div>
</body>
</html>