<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Forgot Password</title>
<link rel="stylesheet" type="text/css" href="forgotpassword.css">
</head>
<body>
<img id="mg-1" src="Tunehub logo-3.png" alt="Image Description"
		width="95px" height="90px">
<center>

<h2>LOST IN THE MELODY, RESETTING TO FIND THE BEAT </h2>
<h3>UNLOCKING EMOTIONS THROUGH SOUND</h3>
	<div class="card">
	<img id="mg-3" src="reset form.png" alt="Image Description"
		width="90px" height="90px">
	<img id="mg-2" src="reset form.png" alt="Image Description"
		width="90px" height="90px">
		
		<img id="mg-3" src="reset form.png" alt="Image Description"
		width="90px" height="90px">
		<img id="mg-2" src="reset form.png" alt="Image Description"
		width="90px" height="90px">
		
		<div>
			<h2>Reset Your Password</h2>
			
			<!-- Error message -->
			<div th:if="${error}" class="alert alert-danger" role="alert">
				<p th:text="${error}"></p>
			</div><br><br>
			<!-- Forgot password form -->
			<form action="/resetpassword" method="post">
				<div>
					<label for="email">Email Address</label> <input type="email"
						id="email" name="email" required><br><br>
				</div>
				<div>
					<label for="password">New Password</label> <input type="password"
						id="password" name="password" required>
				</div><br><br>
				<button type="submit">Reset Password</button>
			</form>
		</div>
	</div>
</center>
</body>
</html>
