<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>

<link rel="stylesheet" type="text/css" href="index.css">

</head>
<body>
	<img id="mg-1" src="Tunehub logo-3.png" alt="Image Description"
		width="95px" height="90px">

	<center>
		<h1>TUNEHUB MUSIC</h1>

		<h4>MAKE IT MELODY</h4>

		<div class="div-1">
			<div>
				<img id="mg-2" src="music symbol-3.png" alt="Image Description"
					width="100px" height="100px">
			</div>
			<br> <img id="mg-3" src="music symbol-3.png"
				alt="Image Description" width="100px" height="100px">

			<div class="form">


				<form action="registration">

					<button class="signup">SIGN UP</button>



				</form>
				<br>


				<form action="googleregister">
					<p>--------------------OR---------------------</p>


					<button class="google">Sign up with Google</button>

				</form>
				<br>
				<br>

				<form>
					<button class="facebook">Sign up with Facebook</button>
					<button class="apple">Sign up with Apple</button>

					<h3>Already have an account?</h3>
				</form>
				<br>
				<br>

				<form action="login">

					<button class="login">LOGIN</button>



				</form>



			</div>
		</div>




	</center>







</body>

</html>
