<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
 <link rel="stylesheet" type="text/css" href="login.css">

</head>
<body>
<br>

<img id="mg-1" src="Tunehub logo-3.png" alt="Image Description"
		width="95px" height="90px">
<center>
<h1>LIFE IS A SONG, SING IT</h1>
<h4>WHERE WORDS FAIL, MUSIC SPEAKS</h4>
<div class="div-1">
<img id="mg-2" src="music symbol-1.png" alt="Image Description"
		width="170px" height="90px">
		<img id="mg-3" src="music symbol-1.png" alt="Image Description"
		width="170px" height="90px">
<form action="/validate" method="post">
<h2>LOGIN </h2>
<label>Email:</label>
<input type="email" name="email"><br><br>
<label>Password</label>

<input type="password" name="password"><br><br>
<h5>If you don't have an account?, <a href="/registration">register here</a>.</h5>

<h5><a id="a-1" href="/forgotpassword">Forgot password?</a></h5>
<button>LOGIN</button>
</form>
</div>
</center>


 

</body>
</html>