<!DOCTYPE html>
<html>
<head>
<title>Registration Page</title>
 <link rel="stylesheet" type="text/css" href="registration.css">

</head>
<body>

    <img id="mg-1" src="Tunehub logo-3.png" alt="Image Description"   width="90px" height="90px">

<center>
<h1>MUSIC MADE YOUR DAY</h1>
<h4>MAKE YOUR DAY HAPPY</h4>
		<div class="div-1">
		    <img id="mg-2" src="music symbol-2.png" alt="Image Description"   width="190px" height="90px">
				    <img id="mg-3" src="music symbol-2.png" alt="Image Description"   width="190px" height="90px">
		


<form action="/register" method="post">
<h2>REGISTRATION</h2>
<b>
<label>UserName:</label>
<input type="text" name="username" placeholder="Username"><br><br>

<label>E-mail:</label>
<input type="email" name="email" placeholder="E-mail"><br><br>
<label>Password</label>
<input type="password" name="password" placeholder="Password"><br><br>


<label>Gender:</label>
<input type="radio"  value="male" name="gender">
<label>Male</label>
<input type="radio" value="female" name="gender">
<label>Female</label>
<input type="radio" value="other" name="gender">
<label>Other</label><br><br>

<label>Role:</label>
<input type="radio"  value="admin" name="role">
<label>Admin</label>
<input type="radio" value="customer" name="role">
<label>Customer</label><br><br>
<label>Address:</label>
<textarea name="address"></textarea>
<br><br>
</b>
<h5>If you already have an account?, <a href="/login">login here</a>.</h5>

<button >SUBMIT</button>
</form>
</div>
</center>
</body>
</html>