<!DOCTYPE html>
<html>
<head>
<title>Song Page</title>
 <link rel="stylesheet" type="text/css" href="song.css">

</head>
<body>
    <img id="mg-1" src="Tunehub logo-3.png" alt="Image Description"   width="90px" height="90px">

<center>
<h2>MUSIC IS THE BEST REMEDY FOR THE SOUL'S WOUNDS</h2>
<h4>LET THE MUSIC TAKE YOU ON A JOURNEY</h4>
<div class="div-1">
 <img id="mg-2" src="music symbol-7.png" alt="Image Description"   width="100px" height="100px">
				    <img id="mg-3" src="music symbol-7.png" alt="Image Description"   width="100px" height="100px">
		

<form action="addsong" method="post">
<h1>ADDING SONGS</h1>
<label>Song Name:</label>
<input type="text" name="name">
<br><br><br>

<label>Song Artist:</label>
<input type="text" name="artist">
<br><br><br>

<label>Song Genre:</label>
<input type="text" name="genre">
<br><br><br>

<label>Song Link:</label>
<input type="text" name="link">
<br><br><br>
<button>ADD SONG</button>
</form>
</div>
</center>
</body>
</html>